services:
  woven_mnist:
    container_name: woven_mnist
    image: woven_mnist
    build:
      context: ../
      dockerfile: docker/Dockerfile
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    runtime: nvidia
    volumes:
      - ../:/workdir
    working_dir: /workdir/
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    command: bash