services:
  woven_mnist_infer:
    container_name: woven_mnist_infer
    image: woven_mnist_infer
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    runtime: nvidia
    working_dir: /workdir/
    ports:
      - "5000:5000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    command: python3 infer.py